.menu_btn__burger {
  width: 2.0625rem;
  height: 0.1719rem;
  transition: all .3s ease-in-out;
}

.menu_btn__burger::before,
.menu_btn__burger::after {
  content: "";
  position: absolute;
  width: 2.0625rem;
  height: 0.1719rem;
  transition: all .3s ease-in-out;
}

.menu_btn__burger::before {
  transform: translateY(-4.12px);
}

.menu_btn__burger::after {
  transform: translateY(4.12px);
}

.menu_btn__burger.open {
  background: transparent;
}

.menu_btn__burger.open::before {
  transform: rotate(45deg);
}

.menu_btn__burger.open::after {
  transform: rotate(-45deg);
}