.menu_btn__burger {
  width     : 2.0625rem;
  height    : 0.1719rem;
  transition: all .3s ease-in-out;

  &::before,
  &::after {
    content   : "";
    position  : absolute;
    width     : 2.0625rem;
    height    : 0.1719rem;
    transition: all .3s ease-in-out;
  }

  &::before {
    transform: translateY(-0.2575rem);
  }

  &::after {
    transform: translateY(0.2575rem);
  }

  &.open {
    background: transparent;

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}
