.node_group {

  :hover>rect {
    stroke: #0d0c22;
  }

  [data-theme='dark'] & :hover>rect {
    stroke: #ffffff;
  }

  &__focused {
    rect {
      stroke: #0d0c22;
    }

    &:focus {
      outline: none;
    }
  }

  [data-theme='dark'] &__focused {
    rect {
      stroke: #ffffff;
    }

    &:focus {
      outline: none;
    }
  }

  g:focus {
    outline: none;
  }
}